.popup
	.popup__overlay
	.popup__top
		.popup__button
			+icon('arrow-down')(width='22', height='22')
			span История облачного рынка в&nbsp;лицах и&nbsp;цитатах
	.popup__slider.swiper
		+icon('square-3', 'popup__square')
		.swiper-wrapper
			.popup__slide.swiper-slide
				.popup__image-wrapper
					+picture('authors/1', 'jpg', 'popup__image', '')
				.popup__content
					.popup__name Юрий Ларин
					.popup__position Руководитель направления маркетинга облачных технологий компании Microsoft
					.popup__text
						p.
							«Российский рынок SaaS находится в начальной стадии развития, однако будет динамично расти в ближайшие годы».
						p.
							Юрий Ларин уверен, что компаниям нужно предлагать не просто услуги из облака, но возможность интеграции
							облачных решений с локальными бизнес-системами.
			.popup__slide.swiper-slide
				.popup__image-wrapper
					+picture('authors/2', 'jpg', 'popup__image', '')
				.popup__content
					.popup__name Константин Симонов
					.popup__position ИТ-директор DataSpace:
					.popup__text
						p.
							Несмотря на стратегию инфраструктурного суверенитета и стремительное развитие GPU-ориентированных сервисов,
							ключевым драйвером роста облачной индустрии в 2026 году остается глобальный дефицит и экспоненциальный
							рост цен на "железо".
						p.
							В такой среде облако становится не инструментом оптимизации и экономии, а способом выживания.
							Парадигма гибридных облачных инфраструктур максимально гибко отвечает практически любым потребностям
							заказчиков, а концепция "мультиклауд" позволяет нивелировать риски и достигать приемлемых показателей
							надежности и доступности ИТ-инфраструктуры.
			.popup__slide.swiper-slide
				.popup__image-wrapper
					+picture('authors/3', 'jpg', 'popup__image', '')
				.popup__content
					.popup__name Денис Ночевнов
					.popup__position директор по новым технологиям и услугам «МегаФона»
					.popup__text
						p.
							Если говорить о классах используемых нами облачных решений, то мы в наибольшей мере используем IaaS. Например,
							у нас может возникнуть потребность разместить в конкретном регионе серверы, которые будут обслуживать всю
							Россию.
						p.
							Внутренние облака привлекательны для нас не в силу финансовой экономии – эта экономия минимальна.
							Так что здесь речь идет скорее о скорости развертывания решения.
			.popup__slide.swiper-slide
				.popup__image-wrapper
					+picture('authors/4', 'jpg', 'popup__image', '')
				.popup__content
					.popup__name Александр Чеснавский
					.popup__position коммерческий директор MWS
					.popup__text
						p.
							Облачный рынок в широком смысле, учитывая и публичные, и частные облака, а также гибрид, — сейчас активно растёт
							и показывает один из наибольших темпов роста в целом по ИТ-рынку.
						p.
							Когда мы в MWS говорим про IaaS для Enterprise-сегмента, мы зачастую имеем в виду облака на условиях
							заказчика — частные и гибридные инсталляции.
						p.
							Для одних нагрузок, особенно чувствительных, это могут быть частные облака, для нагрузок, где
							важна гибкость, скорость, развёртывание и эластичность, — уже облака публичные.
			.popup__slide.swiper-slide
				.popup__image-wrapper
					+picture('authors/4', 'jpg', 'popup__image', '')
				.popup__content
					.popup__name Александр Чеснавский
					.popup__position коммерческий директор MWS
					.popup__text
						p.
							Если ещё некоторое время назад мы в рамках облака предоставляли прежде всего инфраструктурные сервисы, то сейчас за
							счёт синергии с другими активами MWS наша полка существенно прирастает дополнительными проектами.
						p.
							Из наиболее яркого — у нас в облаке появился MWS GPT. Это облачная b2b-платформа для одновременной работы
							с разными LLM. Заказчик может использовать платформу в облачном формате или в on-premise среде и в том и в
							другом случае в формате SaaS.
			.popup__slide.swiper-slide
				.popup__image-wrapper
					+picture('authors/5', 'jpg', 'popup__image', '')
				.popup__content
					.popup__name Георгий Джабиев
					.popup__position директор по развитию бизнеса Т1 Облако
					.popup__text
						p.
							Отчуждаемое облако — это ответ на запрос бизнеса на доверие и управляемость. Многие компании хотят использовать
							преимущества облака, но при этом не готовы передавать инфраструктуру за периметр.
						p.
							Мы даем возможность выстраивать гибридные сценарии, объединять публичные и локальные ресурсы, управлять
							утилизацией, правами доступа и квотами через единый интерфейс.
			.popup__slide.swiper-slide
				.popup__image-wrapper
					+picture('authors/6', 'jpg', 'popup__image', '')
				.popup__content
					.popup__name Михаил Лобоцкий
					.popup__position исполняющий обязанности генерального директора Cloud.ru
					.popup__text
						p.
							В 2025 году спрос на наши продукты вырос в среднем на 40—70% — прежде всего за счёт инфраструктуры и сервисов для
							работы с искусственным интеллектом в среде Evolution AI Factory.
						p.
							Компании всё чаще переходят от пилотов к полноценному внедрению искусственного интеллекта во всю цепочку
							создания ценности. Наша задача — сохранять технологическое лидерство и при этом удерживать тарифы доступными,
							чтобы ИИ становился рабочим инструментом для массового рынка, а не нишевой инновацией. В 2026 мы продолжим
							расширять продуктовый портфель и укреплять доверие к бренду Cloud.ru со стороны заказчиков.
		.popup__nav.swiper-nav
			.swiper-btn-prev
				+icon('arrow-left')(width='45', height='45')
			.swiper-btn-next
				+icon('arrow-right')(width='45', height='45')
