.button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	width: 100%;
	background-color: $color-primary;
	border: 2px solid $color-primary;
	padding: 15px 10px;
	border-radius: 55px;
	box-sizing: border-box;
	color: $white;
	font-size: 18px;
	line-height: 1;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
	transition: 0.3s ease;

	@include max(t) {
		padding: 10px;
	}

	&:hover {
		background-color: rgba($color-primary, 0.7);
		border-color: rgba($color-primary, 0);
	}
}