.dictionary {
	position: relative;
	opacity: 0;
	pointer-events: none;
	max-width: calc(100% - 940px);
	transition: 0.3s ease;
	@include max(1380) {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		left: 0;
		right: 100px;
		max-width: 100%;
		background-color: #0076e4;
		border-radius: 30px;
	}

	&__btn{
	  display: none;
		padding: 15px 20px;
		white-space: nowrap;
	    color: white;
	    background-color: transparent;
	    border: 1px solid #fff;
	    border-radius: 55px;
	    z-index: 4;
	    cursor: pointer;
	    text-transform: uppercase;
	    font-size: 16px;
	    @include max(ti) {
	    	display: none!important;
	    }

		&.active{
			position: absolute;
			width: 48px;
		    height: 30px;
		    right: 0;
		    top: 0;
		    bottom: 0;
		    margin: auto;
		    border-radius: 0;
		    border:none;
		    padding: 0;
			.dictionary__btn-title{
				display: none;
			}
			.dictionary__btn-lines{
				position: relative;
				display: block;
				width: 100%;
				  height: 5px;
				  background-color: #ff7300;
				  transition: all 0.3s;
				  backface-visibility: hidden;
				  border-radius: 2px;
			  	&:after,
			  	&:before {
				  content: "";
				  width: 100%;
				  height: 5px;
				  background-color: #ff7300;
				  transition: all 0.3s;
				  backface-visibility: hidden;
				  border-radius: 2px;
				  position: absolute;
				  left: 0;
				  top: -9px;
				}

				&:after{
					top:9px
				}
				opacity: 1;
				visibility: visible;
				background-color: transparent;
				&:before {
				  transform: rotate(45deg) translate(5px, 5px);
				}
				&:after {
				  transform: rotate(-45deg) translate(7px, -8px);
				}
			}

			+ .dictionary{
				opacity: 1;
				visibility: visible;
				.dictionary__label{
					display: none;
				}
			}

		}
	}

	&__label {
		position: absolute;
		top: -10px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 2;
		background-color: $color-background-2;
		padding: 0 12px;
		font-weight: 700;
		font-size: 13px;
		text-align: center;
		text-transform: uppercase;
		white-space: nowrap;

		@include max(dxl) {
			background-color: transparent;
			top: -20px;
		}
	}

	&__slider {
		position: relative;
		border: 1px solid $white;
		border-radius: 46px;
		overflow: visible;
	}

	&__slide {
		padding: 0 50px;
		height: 57px;
	}

	&__title {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		font-weight: 700;
		font-size: 17px;
		text-align: center;
		text-transform: uppercase;
		cursor: pointer;

		@include max(t) {
			font-size: 12px;
		}

		span {
			transition: 0.3s ease;
		}

		&:hover > span {
			color: $color-primary;
		}
	}

	&__text {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		display: flex;
		gap: 45px;
		padding: 35px 45px;
		background-color: $white;
		border-radius: 54px;
		color: $black;
		font-family: $secondFont;
		font-weight: 400;
		font-size: 13px;
		line-height: 1.2;
		text-transform: none;
		opacity: 0;
		pointer-events: none;

		@include max(t) {
			padding: 35px 45px 35px 20px;
			border-radius: 10px;
			text-align: left;
		}

		&.open {
			opacity: 1;
			pointer-events: auto;
		}
	}

	&__close {
		min-width: 30px;
		max-width: 30px;
		height: 30px;
		cursor: pointer;
		transition: 0.3s ease;

		@include max(t) {
			position: absolute;
			top: 10px;
			right: 10px;
			min-width: 20px;
			max-width: 20px;
		}

		&:hover {
			transform: rotate(180deg);
		}
	}

	&__nav {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translateY(-50%);
		height: 100%;

		.swiper-btn-prev,
		.swiper-btn-next {
			width: 55px;
			height: 100%;
		}
	}
}
