.history {
	padding-top: 90px;
	box-sizing: border-box;
	opacity: 0;

	@include max(ti) {
		position: relative;
		z-index: 3;
		opacity: 1 !important;
		overflow: visible;
	}

	@include max(t) {
		padding-top: 40px;
	}

	&__wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		padding-left: 221px !important;
		box-sizing: border-box;

		@include max(ti) {
			padding-left: 0 !important;
		}
	}

	&__controlbtn{
		position: absolute;
		top:180px;
		bottom:0;
		width: 50px;
		height: 50px;
		border:1px solid white;
		background-color: #0076e4;
		border-radius: 50%;
   	 	z-index: 4;
   	 	background-size: 11px;
   	 	background-position: 50%;
   	 	background-repeat: no-repeat;
   	 	cursor: pointer;
   	 	transition: all .2s ease;
   	 	opacity: 0;
   	 	&.active{
   	 		opacity: .9;
   	 	}
   	 	&:hover{
   	 		opacity: 1;
   	 	}
		&--start{	
			left: 223px;
			background-image: url("data:image/svg+xml,%3Csvg width='11' height='24' viewBox='0 0 11 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2893 22.7056L0.664307 11.7056L10.2893 0.705566' stroke='white' stroke-linecap='square'/%3E%3C/svg%3E%0A");
		}
		&--end{
			right:0;
			background-image: url("data:image/svg+xml,%3Csvg width='11' height='24' viewBox='0 0 11 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.664312 22.7056L10.2893 11.7056L0.664312 0.705566' stroke='white' stroke-linecap='square'/%3E%3C/svg%3E%0A");
		}
	}

	&__scroll {
		position: relative;
		width: max-content;
		height: 100%;
		display: flex;
		gap: 40px;
		flex-wrap: nowrap;
		will-change: transform;

		@media (max-height: 720px) and (min-width: 768px) {
			width: 100%;
			overflow: scroll;
			&::-webkit-scrollbar {
	          width: 10px;
	        }

	        &::-webkit-scrollbar-track {
	          background: #fff;
	        }

	        &::-webkit-scrollbar-thumb {
	          background-color: #ff7300;
	        }
		}

		@include max(ti) {
			width: 100%;
			flex-direction: column;
			flex-wrap: wrap;
		}
	}

	&__title {
		flex-shrink: 0;
		width: 210px;
		font-weight: 700;
		font-size: 19px;
		text-transform: uppercase;

		@include max(ti) {
			width: 100%;
		}
	}

	&__icon {
		width: 125px;
		height: 15px;
		margin-top: 10px;

		@include max(ti) {
			display: none;
		}
	}

	&__items {
		flex-shrink: 0;
		display: flex;
		align-items: flex-start;
		gap: 32px;

		@include max(ti) {
			flex-direction: column;
		}
	}
}
