.portraits {
	transition: 0.1s linear;

	&__item {
		position: absolute;
		width: 1px;
		height: 1px;
		opacity: 0;
		transition: 0.3s ease;

		&--1 {
			left: 60px;
			min-width: 55px;
			height: 55px;
		}

		&--2 {
			top: 55px;
			min-width: 59px;
			height: 59px;
		}

		&--3 {
			top: 55px;
			left: 59px;
			min-width: 94px;
			height: 95px;
		}

		&--4 {
			top: 55px;
			left: 153px;
			z-index: 1;
			min-width: 90px;
			height: 90px;
		}

		&--5 {
			top: 150px;
			left: 94px;
			min-width: 59px;
			height: 59px;
		}

		&--6 {
			top: 145px;
			left: 153px;
			min-width: 72px;
			height: 71px;
		}

		&--7 {
			top: 296px;
			left: 153px;
			z-index: 2;
			min-width: 55px;
			height: 55px;
		}

		&--8 {
			top: 225px;
			left: 81px;
			min-width: 72px;
			height: 72px;
		}

		&--9 {
			top: 216px;
			left: 153px;
			z-index: 1;
			min-width: 94px;
			height: 95px;
		}

		&--10 {
			top: 297px;
			left: 83px;
			min-width: 70px;
			height: 70px;
		}

		&--11 {
			top: 70px;
			left: 225px;
			min-width: 72px;
			height: 71px;
		}

		&--12 {
			top: 179px;
			left: 407px;
			z-index: 1;
			min-width: 55px;
			height: 55px;
		}

		&--13 {
			top: 136px;
			left: 208px;
			min-width: 105px;
			height: 104px;
		}

		&--14 {
			top: 130px;
			left: 454px;
			z-index: 2;
			min-width: 50px;
			height: 50px;
		}

		&--15 {
			top: 266px;
			left: 345px;
			min-width: 94px;
			height: 95px;
		}

		&--16 {
			top: 273px;
			left: 429px;
			z-index: 1;
			min-width: 55px;
			height: 54px;
		}

		&--17 {
			top: 307px;
			left: 286px;
			z-index: 1;
			min-width: 59px;
			height: 59px;
		}

		&--18 {
			top: 35px;
			left: 454px;
			min-width: 94px;
			height: 95px;
		}

		&--19 {
			top: 276px;
			left: 231px;
			z-index: 1;
			min-width: 60px;
			height: 60px;
		}

		&--20 {
			top: 107px;
			left: 382px;
			min-width: 72px;
			height: 71px;
		}

		&--21 {
			top: 178px;
			left: 313px;
			min-width: 94px;
			height: 95px;
		}

		&--22 {
			top: 52px;
			left: 374px;
			min-width: 55px;
			height: 55px;
		}

		&--23 {
			top: 130px;
			left: 504px;
			z-index: 1;
			min-width: 85px;
			height: 86px;
		}

		&--24 {
			top: 192px;
			left: 421px;
			min-width: 105px;
			height: 104px;
		}

		&--25 {
			top: 35px;
			left: 297px;
			min-width: 58px;
			height: 58px;
		}

		&--26 {
			top: 273px;
			left: 484px;
			min-width: 55px;
			height: 54px;
		}

		&--27 {
			top: 206px;
			left: 526px;
			z-index: 2;
			min-width: 72px;
			height: 71px;
		}

		&--28 {
			top: 277px;
			left: 539px;
			min-width: 48px;
			height: 49px;
		}

		&--29 {
			top: 93px;
			left: 297px;
			min-width: 85px;
			height: 85px;
		}

		&--30 {
			top: 222px;
			left: 245px;
			min-width: 88px;
			height: 88px;
			object-fit: cover;
			object-position: top;
		}
	}
}
