.portraits {
    &__item {
        position: absolute;
        width: 1px;
        height: 1px;

        &--1 {
            left: 60px;
            min-width: 55px;
            height: 55px;
        }

        &--2 {
            top: 55px;
            min-width: 59px;
            height: 59px;
        }

        &--3 {
            top: 55px;
            left: 59px;
            min-width: 94px;
            height: 95px;
        }

        &--4 {
            top: 55px;
            left: 153px;
            min-width: 58px;
            height: 58px;
        }

        &--5 {
            top: 150px;
            left: 94px;
            min-width: 59px;
            height: 59px;
        }
        
        &--6 {
            top: 113px;
            left: 153px;
            min-width: 72px;
            height: 71px;
        }

        &--7 {
            top: 184px;
            left: 153px;
            min-width: 55px;
            height: 55px;
        }

        &--8 {
            top: 225px;
            left: 81px;
            min-width: 72px;
            height: 72px;
        }

        &--9 {
            top: 239px;
            left: 153px;
            min-width: 94px;
            height: 95px;
        }

        &--10 {
            top: 301px;
            left: 112px;
            min-width: 55px;
            height: 54px;
        }
        
        &--11 {
            top: 70px;
            left: 225px;
            min-width: 72px;
            height: 71px;
        }

        &--12 {
            top: 70px;
            left: 297px;
            min-width: 58px;
            height: 58px;
        }

        &--13 {
            top: 136px;
            left: 208px;
            min-width: 105px;
            height: 104px;
        }

        &--14 {
            top: 128px;
            left: 297px;
            min-width: 50px;
            height: 50px;
        }

        &--15 {
            top: 266px;
            left: 286px;
            min-width: 94px;
            height: 95px;
        }

        &--16 {
            top: 222px;
            left: 231px;
            min-width: 55px;
            height: 54px;
        }

        &--17 {
            top: 276px;
            left: 247px;
            min-width: 59px;
            height: 59px;
        }

        &--18 {
            top: 83px;
            left: 407px;
            min-width: 94px;
            height: 95px;
        }

        &--19 {
            top: 60px;
            left: 374px;
            min-width: 55px;
            height: 55px;
        }

        &--20 {
            top: 107px;
            left: 347px;
            min-width: 72px;
            height: 71px;
        }

        &--21 {
            top: 178px;
            left: 313px;
            min-width: 94px;
            height: 95px;
        }

        &--22 {
            top: 266px;
            left: 366px;
            min-width: 72px;
            height: 71px;
        }

        &--23 {
            top: 121px;
            left: 484px;
            min-width: 72px;
            height: 71px;
        }

        &--24 {
            top: 192px;
            left: 421px;
            min-width: 105px;
            height: 104px;
        }

        &--25 {
            top: 179px;
            left: 407px;
            min-width: 55px;
            height: 55px;
        }

        &--26 {
            top: 273px;
            left: 446px;
            min-width: 55px;
            height: 54px;
        }

        &--27 {
            top: 192px;
            left: 526px;
            min-width: 72px;
            height: 71px;
        }

        &--28 {
            top: 263px;
            left: 526px;
            min-width: 48px;
            height: 49px;
        }
    }
}
