.tabs {
	$parent: &;

	position: relative;
	z-index: 6;
	transition: transform 0.3s ease, top 0.3s ease;

	&.fixed {
		position: fixed;
		top: 0;
		//left: calc((100vw - 1552px + 40px) / 2);
		//right: calc((100vw - 1552px + 40px) / 2);
		left: 0;
		right: 0;
		padding: 10px calc((100vw - 1552px + 40px) / 2) 30px calc((100vw - 1552px + 40px) / 2);
		background: linear-gradient(180deg, rgba(53, 133, 217, 1) 0%, rgba(53, 133, 217, 0) 95%);
		transition: none !important;

		@include max(1570) {
			left: 20px;
			right: 20px;
		}

		#{$parent} {
			&__title::before {
				left: calc((100vw - 1552px - 260px) / 2);

				@include max(1850) {
					left: calc((100vw - 1552px + 40px) / 2);
				}

				@include max(1570) {
					left: 0;
				}
			}
		}
	}

	&__timeline {
		display: flex;
		align-items: center;
		gap: 12px;
		font-family: $secondFont;
		font-weight: 700;
		font-size: 29px;
		line-height: 1;
		text-transform: uppercase;

		span {
			opacity: 0;

			@include max(tl) {
				position: absolute;
				top: 10px;
			}

			&:first-child {
				left: 0;
			}

			&:last-child {
				right: 0;
			}
		}
	}

	&__bottom {
		padding-bottom: 200px;
		opacity: 0;
		transform: translateY(30px);
	}

	&__line {
		position: relative;
		width: 10px;
		height: 2px;
		background-color: $white;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: -4px;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: $white;
		}

		&::before {
			left: 0;
		}

		&::after {
			right: 0;
		}
	}

	&__items {
		position: relative;
		display: flex;
		gap: 20px;
		padding: 0 85px;
		margin-top: -26px;

		@include max(d) {
			padding: 0;
		}

		@include max(tl) {
			flex-wrap: wrap;
		}
	}

	&__item {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 15px;

		&--popup {
			span {
				font-size: 17px;
			}
		}
	}

	&__arrow {
		width: 30px;
		height: 27px;
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
		width: 100%;
		background-color: $color-primary;
		border: 2px solid $color-primary;
		padding: 22px;
		border-radius: 55px;
		font-size: 29px;
		line-height: 1;
		text-transform: uppercase;
		text-align: center;
		cursor: pointer;
		transition: 0.3s ease;

		@include max(t) {
			padding: 10px;
			font-size: 20px;
		}

		&.disabled {
			background-color: rgba($color-primary, 0.7);
			border-color: rgba($color-primary, 0);
			pointer-events: none;
		}

		&:hover {
			background-color: rgba($color-primary, 0.7);
			border-color: rgba($color-primary, 0);
		}
	}

	&__title {
		font-weight: 700;
		font-size: 30px;
		text-transform: uppercase;
		letter-spacing: 0.014em;
		margin-bottom: 13px;
		opacity: 0;
		pointer-events: none;

		@include max(t) {
			font-size: 24px;
		}

		&::before {
			position: absolute;
			left: -150px;
			//bottom: 0;
			content: attr(data-text);
			font-weight: 700;
			font-size: 184px;
			line-height: 0.7;
			text-transform: uppercase;
			background-color: rgba(255, 255, 255, 0.25);
			-webkit-background-clip: text;
			background-clip: text;
			color: transparent;
			filter: blur(2px);

			@include max(1850) {
				left: 0;
				top: 0;
				bottom: unset;
			}

			@include max(tl) {
				font-size: 100px;
			}
		}
	}

	&__text {
		font-size: 12px;
		text-align: center;
		animation: flickerLabels 9s linear infinite;

		@include max(370) {
			font-size: 10px;
		}
	}
}
