.timeline {
	//max-width: calc(100% - 260px);
	width: 100%;
	//padding: 0 180px 0 20px;
	//overflow: hidden;

	&__progress {
		position: absolute;
		top: 250px;
		left: 10px;
		z-index: 2;

		@include max(ti) {
			display: none !important;
		}

		&--1 {
			width: 7630px;

			span {
				&:nth-of-type(1) {
					right: 185px;
				}

				&:nth-of-type(2) {
					left: 22px;
				}

				&:nth-of-type(3) {
					left: 270px;
				}

				&:nth-of-type(4) {
					right: -152px;
				}

				&:nth-of-type(5) {
					left: -239px;
				}

				&:nth-of-type(6) {
					left: 0;
				}

				&:nth-of-type(7) {
					right: -602px;
				}

				&:nth-of-type(8) {
					left: 508px;
				}

				&:nth-of-type(9) {
					left: 190px;
				}
				&:nth-of-type(10) {
					visibility: hidden;
				}
			}
		}

		&--2 {
			width: 4550px;

			span {
				&:nth-of-type(1) {
					left: -245px;
				}

				&:nth-of-type(2) {
					left: -509px;
				}

				&:nth-of-type(3) {
					left: -710px;
				}

				&:nth-of-type(4) {
					left: -970px;
				}

				&:nth-of-type(5) {
					left: -860px;
				}

				&:nth-of-type(6) {
					left: -340px;
				}

				&:nth-of-type(7) {
					left: -460px;
				}
			}
		}

		&--3 {
			width: 4740px;

			span {
				&:nth-of-type(1) {
					right: 102px;
				}

				&:nth-of-type(2) {
					right: -20px;
				}

				&:nth-of-type(3) {
					right: -10px;
				}

				&:nth-of-type(4) {
					right: -20px;
				}

				&:nth-of-type(5) {
					    right: 90px;
				}

				&:nth-of-type(6) {
					right: 214px;
				}

				&:nth-of-type(7) {
					right: 270px;
				}

				&:nth-of-type(8) {
					right: 320px;
				}

				&:nth-of-type(9) {
					right: 350px;
				}

				&:nth-of-type(10) {
					right: 220px;
				}

				&:nth-of-type(11) {
					right: 180px;
				}

				&:nth-of-type(12) {
					right: 165px;
				}

				&:nth-of-type(13) {
					right: 95px;
				}

				&:nth-of-type(14) {
					right: -25px;
				}

				&:nth-of-type(15) {
					left: 25px;
				}
			}
		}
	}

	&__wrapper {
		position: relative;
		width: 100%;
		padding-left: 220px !important;
		box-sizing: border-box;

		@include max(ti) {
			padding-left: 0 !important;
		}
	}

	&__scroll {
		position: relative;
		width: max-content;
		height: 100%;
		display: flex;
		flex-wrap: nowrap;
		
		@media (max-height: 720px) and (min-width: 768px) {
			width: 100%;
			overflow: scroll;
			&::-webkit-scrollbar {
	          width: 10px;
	        }

	        &::-webkit-scrollbar-track {
	          background: #fff;
	        }

	        &::-webkit-scrollbar-thumb {
	          background-color: #ff7300;
	        }
		}
		@include max(ti) {
			width: 100%;
		}
	}

	&__page {
		position: relative;
		display: none;
		gap: 30px;
		width: max-content;
		height: 100%;
		flex-shrink: 0;

		@include max(ti) {
			flex-direction: column;
			width: 100%;
		}

		@include max(t) {
			gap: 25px;
		}

		&.active {
			display: flex;
			flex-wrap: nowrap;

			@include max(ti) {
				flex-wrap: wrap;
			}
		}

		& > picture:first-child {
			@include max(ti) {
				display: none;
			}
		}
	}

	&__cloud,
	&__square {
		position: absolute;
		z-index: 3;
		pointer-events: none;
	}

	&__square {
		&--1 {
			bottom: -90px;
    		right: 500px;
		}

		&--2 {
			bottom: -120px;
			left: 100px;
		}

		&--3 {
			z-index: 0;
			top: 350px;
			left: 1620px;
		}

		&--4 {
			bottom: 160px;
		    right: -206px;
		    z-index: 0;
		}
	}
}
