.trends-card {
	$parent: &;

	position: relative;
	width: 380px;
	flex-shrink: 0;
	background-color: $color-primary;
	border-radius: 18px;

	&--1 {
		width: 475px;
		margin-left: 205px;

		#{$parent}__line + #{$parent}__line {
			left: unset;
			right: 21px;
		}
	}

	&--2 {
		width: 335px;
		margin-left: 789px;

		#{$parent}__line + #{$parent}__line {
			left: unset;
			right: 26px;
		}
	}

	&--3 {
		width: 335px;
		margin-left: 549px;

		#{$parent}__line + #{$parent}__line {
			left: unset;
			right: 26px;
		}
	}

	&--4 {
		width: 335px;
		margin-left: 540px;

		#{$parent}__line + #{$parent}__line {
			left: unset;
			right: 20px;
		}
	}

	&--5 {
		margin-left: 108px;
	}

	&--6 {
		margin-left: 341px;

		#{$parent}__line {
			left: unset;
			right: 15px;
		}
	}

	&--7 {
		width: 300px;
		margin-left: 116px;
	}

	&--8 {
		margin-left: 61px;
	}

	&--9 {
		width: 340px;
		margin-left: 59px;

		#{$parent}__line {
			left: 95px;
		}
	}

	&__line {
		position: absolute;
		top: 100%;
		left: 15px;
		width: 1px;
		height: 57px;
		background-color: $white;

		&::before,
		&::after {
			position: absolute;
			left: -2px;
			content: "";
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: $white;
		}

		&::before {
			top: -2px;
		}

		&::after {
			bottom: -2px;
		}

		&--top {
			top: unset;
			bottom: 100%;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		padding: 26px 12px;
		font-family: $secondFont;
		font-size: 13px;
		text-align: center;
	}
}
